<%- include('partials/top.ejs') %>

<div class="container">
<h2>Booking Results are as</h2>

    <ol>
        <% results.forEach(function(result){ %>
            <li>
                <ul>
                    <li><%="Room No. -"+result.room_no %></li>
                    <li><%=result.id_type+" = "+result.id_no %></li>
                    <li><%="Check in = "+result.start %></li>
                    <li><%="check out = "+result.end %></li>
                    <li><%= "Booking Date = "+result.booking_date %></li>
                    
                </ul> 
            </li>
        <% }); %>
    </ol>
</div>

<%- include('partials/bottom.ejs') %>